html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

td
{
    width: 50%;
}

.d_civ
{
    padding: 10px;
    height: 100%;
}

#viewport
{
    float: left;
}

#display
{
    float: right;
}

#controls
{
    clear: both;
    background: #0fabaa;
}

#controls label, #controls input
{
    display: block;
}

#speed_grp
{
    float: left;
    padding: 5px;
    text-align: center;
}

#speed
{
    -webkit-appearance: none;
    background: darkgrey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#speed:hover
{
    opacity: 1;
}

#speed::-webkit-slider-thumb
{
    -webkit-appearance: none; /* Override default look */
    width: 10%; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #0c8584; /* Turquoise background */
    cursor: pointer; /* Cursor on hover */
}

#speed::-moz-range-thumb
{
    width: 10%; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #0c8584; /* Turquoise background */
    cursor: pointer; /* Cursor on hover */
}